body{
    background-color:#FFBB23;
}
h1{
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color:#ED3602;
    margin-top: 7%;
}
h4{
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color:#ED3602;
    margin-top: 10%
}
#busqueda{
    margin-top: 2%;
    margin-left: 20%;
    text-align: center;
    
}
.btn{
    margin-top: 2%;
   
    text-align: center;
}
.map{
    margin-top: 10%;
    margin-bottom: 10%;
}